* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;

}

body {
    background-color: white;
    color: #333;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    background-color: white;
}

.menu-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.logo img {
    width: 53px; /* Adjust size as needed */
    height: 55px;
    margin-top:3px;
}


.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.highlight {
    color: #55B76B;
     /* Green color for highlighting */
}

.about-us h2{
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.about-container{
    margin: 10px 10px;
    padding: 10px 0;
    border: solid 1px #8CDB9E;
    
    border-radius: 10px;
}
.about-container img{
    width: 100%;
    height: auto;
    display: block;
}
.about-container p{
    font-size: 14px;
    color: #555;
    text-align: left;
    
    padding: 7px 12px;
}

.why-choose-us {
    padding: 24px 20px;
    text-align: center;

}

.why-choose-us h2 {
    font-size: 24px;
    color: #333;
    font-family: "Montserrat", sans-serif;
}

.benefits-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}

/* Each Benefit Card */
.benefit-card {
    width: 400px;
    padding: 8px 38px;
    text-align: center;
    transition: transform 0.3s;
}

.benefit-card:hover {
    transform: translateY(-5px);
}

.benefit-card img {
    width: 130px;
    height: 130px;
    margin-bottom: 15px;
    margin-top: 8px;
}

.benefit-card h3 {
    font-size: 20px;
    color: #55B76B;
    margin-bottom: 8px;
    font-family: "Montserrat", sans-serif;
}

.benefit-card p {
    font-size: 14px;
    color: #555;
    
}
.criteria-container {
    text-align: center;
    width: 90%; /* Uses most of the screen width */
    padding: 20px;
    margin: 0 auto; /* Center the container */
    
}

.criteria-container h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
}

.criteria-container span {
    color:  #55B76B;
    
}

.criteria-grid {
    display: grid;
    gap: 15px;
    margin: 0 auto;
    grid-template-columns: 1fr; /* Single column on mobile phones */
}
.criteria-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 5px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.criteria-item img {
    width: 55px;
    height: 55px;
    margin-bottom: 8px;
}

.criteria-item p {
    font-size: 14px;
    color: #333;
    margin: 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.cute-divider {
    width: 40%;
    height: 3px; /* Slightly thicker for better visibility */
    background: #e7f6eb; /* Gradient effect */
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
   
    margin-bottom: 15px;
    box-shadow: 0 2px 6px rgba(128, 126, 126, 0.2);}

@media (max-width: 600px) {
    .nav-links {
        position: absolute; /* Makes the navbar fixed at the top */
        top: 10%;
        right: 20px;
        width: 44%; /* Ensures the navbar spans across the screen */
        background-color: #eff2ee; /* Your light green color */
        z-index: 1000; /* Higher z-index ensures it appears above other content */
        padding: 20px 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adds a slight shadow */
        display: none;
        line-height: 30px;
        border-radius: 15px 0 15px 15px;
      
    }
    .nav-links li a{
        color: #55B76B;
    }
    .nav-links.active {
        display: block;
        
    }
    .criteria-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media (min-width: 1024px) {
    .why-choose-us h2{
        font-size: 2em;
    }
    .criteria-grid {
        grid-template-columns: repeat(5, 1fr);
    }
    .criteria-container h2{
        font-size: 2em;
    }
    .criteria-item p{
        font-size: 16px;
        width: 100px;
    }
    .criteria-item img{
        width: 60px;
        height: 60px;
    }
    .criteria-item{
        padding-left: 50px;
        padding-right: 50px;
    }
    .criteria-grid{
        margin: 0 auto;
    }
}