
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}

body {
    background-color: white;
    color: #333;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    background-color: white;
}
.menu-button {
    font-size: 26px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
}
.menu-button:hover{
    color: #55B76B;
}

.logo img {
    width: 53px; /* Adjust size as needed */
    height: 55px;
    margin-top:3px;
}
.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #5C5F66;
    font-weight: 300;
    transition: color 0.3s ease;
    text-decoration: none;
    font-size: 14px;
}

.bike-container {
    width: 100%;
    max-width: 1200px;
}

.title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 26px;
}

.highlight {
    color: #55B76B;
    font-weight: bold;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin:14px 7px;
    padding: 10px 10px;
}

.menu p {
    font-size: 14px;
    cursor: pointer;
    color: #666;
}

.menu .active {
    color: #000;
    font-weight: bold;
    font-size: 15px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    gap: 20px;
    margin: 0 13px;
}

.card {
    background: #fff;
    border: 0.5px solid #8CDB9E;
    border-radius: 5px;
    padding: 10px; /* Add padding 10 */
    text-align: center;
    transition: transform 0.2s;
   
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    text-align: left;
}

.location {
    font-size:11px;
    color: #a5aba7;
    margin-bottom: 10px;
    text-align: left;

}
.active{
    font-size: 15px;
    font-weight: 700;
}
.loc{
    text-decoration: underline;
    color: #55B76B;
    font-size: 14px;
    font-weight: 700;
}

.price {
    font-size: 16px;
    color: #161716;
    font-weight: bold;
    margin-bottom: 10px;
}
.bprice{
    display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 30px;
}
.bprice img{
    width: 35px;
}

.details-btn {
    background-color: #55B76B;
    color: #fff;
    background-color: #1b1c1b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.details-btn:hover {
    background-color: #008000;
}
@media (max-width: 600px) {
    .nav-links {
        position: absolute; /* Makes the navbar fixed at the top */
        top: 10%;
        right: 0%;
        width: 100%; /* Ensures the navbar spans across the screen */
        background-color: white; /* Your light green color */
        z-index: 1000; /* Higher z-index ensures it appears above other content */
        padding: 20px 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adds a slight shadow */
        display: none;
        line-height: 30px;
    }
    .nav-links li a{
        color: #5C5F66;
        font-weight: 300;
        font-family: "Poppins",sans-serif;
    }
    .nav-links.active {
        display: block; 
    }

    .menu-button {
        display: block;
    }
    .card-container {
        grid-template-columns: repeat(2,1fr);
    }
    
}
@media (min-width: 1024px) {
    
}