* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: white;
    color: #333;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    background-color: white;
}

.menu-btn {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.logo img {
    width: 53px; /* Adjust size as needed */
    height: 55px;
    margin-top:3px;
}
.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #007bff;
}