* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: white;
    color: #333;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    background-color: white;
}

.menu-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.logo img {
    width: 53px; /* Adjust size as needed */
    height: 55px;
    margin-top:3px;
}
.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #5C5F66;
    font-weight: 300;
    transition: color 0.3s ease;
    text-decoration: none;
    font-size: 14px;
}

.nav-links a:hover {
    color: #007bff;
}
.hotel-card {
    background-color: white;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.hotel-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.hotel-content {
    top:40%;
    margin: 0 13px;
    background-color: #FFFFFF;
    border-radius: 15px;
    position: absolute;
    padding: 8px 15px;
}
.hotel-name {
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    
    font-family: "Volkhov", serif;
  
}
.badge {
    display: inline-block;
    background-color: #F0F8FF;
    color: #333;
    padding: 5px 8px;
    margin-top: 10px;
    border-radius: 12px;
    font-size: 12px;
    margin-right: 10px;
    font-family: "Lato",sans-serif;
}
.badge .star{
    color: #fad104;
    font-size: 14px;
}
.address {
    color: #555;
    margin: 25px 0;
    color: #27272A;
    line-height: 21px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: "Lato",sans-serif;
}
.address i {
    margin-right: 10px;
    color: rgb(110, 107, 107);
    font-size: 14px;
}
.ratings{
    border-top: 1px solid #eee;
}
.rating-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    
    padding-top: 10px;
    
}
.rating-header h3{
   font-size: 16px;
   font-family: "Lato",sans-serif;
}
.rating-header a{
    font-size: 16px;
    color: #4CAF50; 
    text-decoration: none;
    font-family: "Lato",sans-serif;
}
.rheader2{
    display: flex;
    justify-content:last baseline;
    margin-top: 10px;
    padding-top: 10px;

}
.rheader2 .rating-number{
    font-size: 32px;
    font-weight: 700;
    color: #55B76B;
    margin-right: 10px;
}
.rating-text .highlight{
    color: #55B76B;
    font-weight: 700;
    font-size: 14px;
   
}
.rheader2 .rating-text {
    font-size: 11px;
    color: #555;
    padding-top: 3px;
    
}
.tag-container {
    margin: 15px 0;
    display: flex;
overflow-x: auto;
scroll-behavior: smooth;
gap:8px;
}
.tag {
    display: inline-block;
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    border-radius: 20px;
    border: 0.5px solid #a3a3a3;
    font-size: 12px;
    flex-shrink: 0;
}
h2{
    font-size: 16px;
   font-family: "Lato",sans-serif;
}
.review-container {
    display: flex;
overflow-x: auto;
scroll-behavior: smooth;
gap: 10px;
padding-left: 2px;
padding-top: 10px;
}
.review-box {
    min-width: 80%;
max-width: 80%;
background-color: #EEECEC63;
padding: 10px;
border-radius: 10px;

box-shadow: 0 2px 10px rgba(231, 231, 231, 0.1);
flex-shrink: 0;
}
.review-box p{
    font-size: 14px;
    font-family: "Lato",sans-serif;
    line-height: 24px;
}
.review-author {
    margin-top: 5px;
    font-size: 12px;
    font-family: "Lato",sans-serif;
    line-height: 24px;
    color: #777;
}

.hotel-info-container {
    width: 100%;
    margin-top:20px;
    border-top: 1px solid #eee;
    padding: 5px 5px;
}

.facilities-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding: 15px 0;
}

.facilities-header h3 {
    font-size: 16px;
    color: #333;
    font-family: "Lato",sans-serif;
}

.facilities-header a {
    color: #55B76B;
    font-size: 16px;
    text-decoration: none;
    font-family: "Lato",sans-serif;
}

.checkin-checkout{
    border-top: 2px solid #eee;
    padding: 15px 3px;
}
.checkin-checkout h4 {
    font-size: 16px;
    margin:10px 0;
    color: #333;
    font-family: "Lato",sans-serif;
}

.time-entry {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

}

.time-entry span {
    font-size: 14px;
    color: #333;
    font-family: "Lato",sans-serif;
}
.hotel-description {
    border-top: 1px solid #eee;
    padding: 15px 0;
    margin:0 auto;
}
.hotel-description h4 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
    font-family: "Lato",sans-serif;
}

.hotel-description p {
    font-size: 14px;
    color: #27272A;
    font-weight:300;
    text-align: justify;
    margin-bottom: 10px;
    line-height: 21px;
    font-family: "Lato",sans-serif;
}

.view-more {
    color: #55B76B;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    padding-left:100px ;
    font-family:"Lato",sans-serif;
}

.price-section {
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.price-info {
    display: flex;
    justify-content: space-between;
}
.price-header{
    font-size: 14px;
    color: #333333;
    font-family: "Lato",sans-serif;
    font-weight: 700;
}

.tax-info p{
    font-size: 12px;
    font-family: "Lato",sans-serif;
    color: #6d6767;
}
.tax-info .price {
    color: #55B76B;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 4px;
    padding-left: 24px;
}


.select-button {
    width: 100%;
    padding: 10px;
    background-color: #55B76B;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Lato",sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.select-button:hover {
    background-color: #2f8a00;
}

@media (max-width: 600px) {
    .nav-links {
        position: absolute; /* Makes the navbar fixed at the top */
        top: 10%;
        right: 0%;
        width: 100%; /* Ensures the navbar spans across the screen */
        background-color: white; /* Your light green color */
        z-index: 1000; /* Higher z-index ensures it appears above other content */
        padding: 20px 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adds a slight shadow */
        display: none;
        line-height: 30px;
    }
    .nav-links li a{
        color: #5C5F66;
        font-weight: 300;
        font-family: "Poppins",sans-serif;
    }
    .nav-links.active {
        display: block; 
    }
    .menu-button {
        display: block;
    }
    
.facilities-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 14px;
    
}

.facilities-list button {
    padding: 8px 12px;
    width: 145px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-family: "Lato",sans-serif;
}

.facilities-list button:hover {
    background-color: #f6e6e6;
}
}