/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: white;
    color: #333;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    background-color: white;
}

.menu-btn {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.logo img {
    width: 53px; /* Adjust size as needed */
    height: 55px;
    margin-top:3px;
}
.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #5C5F66;
    font-weight: 300;
    transition: color 0.3s ease;
    text-decoration: none;
    font-size: 14px;
}

.hero{
    background: white;
    position: relative; 
    background: url('image/homep.png') ;
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
}

  .hero-content {
    text-align: center;
    color: white;
    padding-top: 20px;
  }
  
  .hero-content h2 {
    font-size: 27px;
    margin: 0;
  }
  
  .hero-content p {
    font-size: 24px;
    margin: 6px 0;
    font-family: "Poppins",sans-serif;
  }
  
/* Shadow gradient for text */

.highlight {
    color: #55B76B;
     /* Green color for highlighting */
}
.highlight2{
    color: #55B76B;
    font-size: 1.2em;
    font-weight: bold;
}
.search-container {
   
    background-image: url('image/ticket.png');
    color: white;
    padding: 20px;
    background-size: cover;
    margin-top: 50px;
    border-radius: 8px; /* Optional: Add rounded corners for a softer look */
}
.hero-content .butter{
    top:44%;
    right:-5%;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 10;
}
.search-container input {
    font-size:12px;
    height: 30px;
   text-align: center;
    border-radius: 5px;
    width: 300px;
    margin: 4px 0;
    border: 1px solid #55B76B;
}
.search-container button{
    background-color: #55B76B;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    cursor: pointer;
    width: 300px;
    font-size: 12px;
    box-shadow: 0 7px 8px rgb(180, 180, 180);
}
.search-container button i{
    font-size: 16px;
}
.search-container p{
    font-size: 9.5px;
    text-align: center;
    font-family: "Lato",sans-serif;
    margin-top: 10px;
    color: #55B76B;
}
.search-btn {
    background-color: #55B76B;
    color: white;
    cursor: pointer;
}
.features-section {
    padding: 10px;
    background-color: #f9f9f9; /* Light background */
  }
  
  .features {
    display: flex;
    justify-content: space-around; /* Space evenly between items */
    align-items: center; /* Align items vertically */
    flex-wrap: wrap; /* Allow wrapping for responsiveness */
    gap: 5px; /* Space between items */
  }
  
  .feature {
    display: flex;
    flex-direction: column; /* Stack icon and text */
    align-items: center; /* Center align */
    text-align: center; /* Center text */
    width: 50px; /* Set a fixed width for consistency */
  }
  
  .feature img.icon {
    width: 30px; /* Icon size */
    height: 30px; /* Maintain square dimensions */
    margin-bottom: 10px; 
    padding: 4px 4px;
    border-radius: 15px;
    background-color: #55B76B;/* Space between icon and text */
  }
  
  .feature p {
    margin: 0;
    font-size: 12px;
    color: #55B76B;
    font-weight: 500; /* Dark text color */
    font-family: "Lato",sans-serif;
  }
  .benefits-section {
    padding: 15px 20px;
    background-color: #62B474; /* Light background */
  }
  
  .benefit-item {
    display: flex;
    align-items: center; /* Align image and text vertically */
    gap: 15px; /* Space between image and text */
    margin-bottom: 10px; /* Space between list items */
  }
  .benefit-item img {
    width: 30px; /* Adjust size as needed */
    height: 26px;
    flex-shrink: 0; /* Prevent image from shrinking */
  }
  
  .benefit-item p {
    margin: 0;
    font-size: 12px; /* Adjust font size for better readability */
    color: #f9f9f9; /* Text color */
    line-height: 1.5;
    font-family: "Lato",sans-serif;
  }
  
.eco-benefits-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px;
    margin-top: 55px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));   
}

/* Styling for each eco-benefit item */
.eco-benefit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 12px;
    color: #fff;
    text-align: left;
    font-family: "Lato", sans-serif;
}

.eco-benefit span i{
    font-size: 1.4em;
    color: white;
}
.about {
    padding: 1.5em;
    display:flex;
}
.about h2{
    padding-bottom: 10px;
    font-size: 24px;
}
.about p{
    font-size: 14px;
    line-height: 20px;
    font-family: "Lato", sans-serif;
    text-align: justify;
}

.play-video-btn {
    background-color: #55B76B;
    color: white;
    padding: 0.8em 1.5em;
    border: none;
    border-radius: 5px;
    margin-top: 1em;
    text-align: center;
}
.play-video-btn .fa-youtube{
    font-size: 20px;
}


.progress-container {
    width: 90%;
    
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* Flex layout for image and text */
.progress-content {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: row;
}

.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.traveler-img {
    border-radius: 30%;
}

.text-section {
    flex: 2;
    text-align: left;
}

.highlight {
    color: #55B76B;
}

.steps-left {
    font-size: 1.5em;
    color: #5b4636;
    font-weight: bold;
}

.sword-icon {
    font-size: 1em;
    vertical-align: middle;
}

/* Progress bar styling */
.progress-bar {
    position: relative;
    height: 10px;
    width: 100%;
    background: #e0d4c1;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
}

.progress {
    position: absolute;
    height: 100%;
    width: 10%;
    background: #39b54a;
    border-radius: 5px;
}

.steps-done {
    margin-top: 5px;
    font-size: 0.9em;
    color: #5b4636;
}

/* Claim button styling */
.claim-button {
    width: 50%;
    padding: 10px;
    margin-top: 15px;
    border: 2px solid #8CDB9E;
    color: #8CDB9E;
    border-radius: 20px;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
    
}

.claim-button:hover {
    background-color: #d8efd8;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin-top: 30px;
}

.background-image {
    width: 100%;
    height: auto;
    display: block;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
}

h1 {
    font-size: 3em;
    margin: 0;
    text-align: center;
}

h2.bottom-text {
    text-align: center; 
    padding-top: 10px;
}
.eco-community{
    padding: 25px 18px;
    text-align: center;

}
.eco-community h2{
    font-size: 21px;
    line-height: 24.18px;
    font-family: "Poppins", sans-serif;
   
}
.eco-community p{
    margin-top: 10px;
    color:#5C5F66;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    
}
h2.next{
    font-size: 20px;
    margin-bottom: 20px;
}
.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #9ed7a0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    
    
}
.input-container input {
    border: none;
    outline: none;
    
    flex-grow: 1;
    font-size: 12px;
}
.input-container button {
    background-color: #55B76B;
    color: white;
    border: none;
   
    cursor: pointer;
    font-size: 11.5px;
    font-family: "Lato", sans-serif;
    
}
.input-container button:hover {
    background-color: #b2d6b4;
}
.joininput{
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto;
    margin: 2px 10px;
    margin-left: 15px;

}
.joininput input{
    border: none;
    outline: none;
    padding: 12px 12px;
    flex-grow: 1;
    font-size: 14px;
    border: 1px solid #b5c0b6;
    border-radius: 5px;
    width: 250px;
    font-family: "Poppins", sans-serif;
}
.joininput button{
    background-color: #55B76B;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 13px 17px;
    cursor: pointer;
    font-size: 14px;
    margin: 13px 5px;
    font-family: "Poppins", sans-serif;
}
.package-container {
    display: grid;
    width: 93%;
    max-width: 1200px;
    margin:0 auto;
    margin-top: 5px;
    
}
.card {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
}
.card img {
    width: 100%;
    height: auto;
    display: block;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
}
.card .my-mycard{
    position: absolute;
    top: 13%;
    left:8%;
}
.card-title-1{
    font-family: "Inter",sans-serif;
    font-size: 23px;
    font-weight: bold;
    width: 230px;
    color: white;
    text-align: left;
}
.card-title {
    font-family: "Inter",sans-serif;
    font-size: 23px;
    font-weight: bold;
    width: 90%;
    color: white;
    text-align: left;
}
.card-subtitle {
    font-family: "Inter",sans-serif;
    font-size: 12px;
    padding-bottom: 10px;
    color: white;
    text-align: left;
    
    
}
.package-button {
    
    position: absolute;
    top: 140%;
    left: -1%;
    display: inline-block;
    font-family: "Inter",sans-serif;
    padding: 10px 20px;
    background-color: white;
    color: #000000;
    border: none;
    border-radius: 9px;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
}
.attractions-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 15px;
}

.attractions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    margin-bottom: 10px;
    margin-left: 10px;
}

.attractions-header h2 {
    font-size: 16px;
    color: #333;
}

.see-all {
    color: #54B175;
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
}

.attractions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.attraction-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding:8px;
    
}

.attraction-card img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 10px;
}

.attraction-info .nb {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

.attraction-info p {
    padding: 2px 0;
    font-size: 12px;
    color: #555;
    font-family: "Inter", sans-serif;
}
.ballon-card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 30px;
}
.ballon-card{
    background-color: #fff;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    max-width: 1200px;
}
.review-container{
    text-align: center;
    padding: 20px 20px;
}
.review-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}
.quote-icon {
    font-size: 3em;
    color: #28a745;
}

.review-text {
    font-size:19.53px;
    color: #333;
    line-height: 36px;
    font-family: "Inter", sans-serif;
}

.review-avatars {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.avatar-cus {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2.5px solid #28a745;
    object-fit: cover;
    padding:2.5px 2.5px;
}
.avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.logos {
    display: flex;
    gap:10px;
    margin-top: 20px;
    margin-left: 28%;
}

.loogoP {
    width: auto;
    height: 57px;
    margin-top: 20px;
    
}
.loogo{
    width:102px;
    height: 57px;
    margin-top: 20px;
    
}

.cute-divider {
    width: 40%;
    height: 3px; /* Slightly thicker for better visibility */
    background: #e7f6eb; /* Gradient effect */
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 6px rgba(128, 126, 126, 0.2); /* Subtle shadow effect */
}
.divide {
    width: 100%;
    height: 1.5px; /* Slightly thicker for better visibility */
    background: #d9dbda; /* Gradient effect */
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.divideme{
    width: 90%;
    height: 1.5px; /* Slightly thicker for better visibility */
    background: #ebedec; /* Gradient effect */
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.foot{
    background-color: rgb(253, 251, 251);
}
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    gap: 8px;
    
}

.card {
    background: #fff;
    /*border: 0.4px solid #e0e0e0;*/
    border-radius: 10px;
    padding: 10px; /* Add padding 10 */
    text-align: center;
    transition: transform 0.2s;
    margin: 0 auto;
    
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    text-align: left;
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 15px;
}

.social-icons {
    display: flex;
    ;
    gap: 40px;
    margin-bottom: 30px;
}

.social-icons i {
   font-size: 1.6em;
  color: #5C5F66;
  padding: 0 5px;
}

.footer-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap:9px;
}

.footer-column h4 {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    padding: 10px 7px;
    font-family: "Poppins", sans-serif;
}

.footer-column ul {
    list-style-type: none;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #333;
    font-size: 13px;
    line-height: 25px;
    padding: 7px 7px;
    font-family: "Poppins", sans-serif;
    white-space: nowrap;
}

.new-tag {
    background-color: #e0ffe0;
    color: #459260;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 18px;
    margin-left: 4px;
    border:solid 1px #54B175;
    font-family: "Poppins", sans-serif;
}

.external-link {
    font-size: 18px;
    font-weight: bold;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
    line-height: 16px;
    color: #666;
    font-family: "Poppins", sans-serif;
}

.language-privacy {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;

}
.language-privacy a {
    color: #5C5F66;
    text-decoration: none;
    font-weight: 550;
    line-height: 16px;
}

.language-privacy a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .footer-columns {
        grid-template-columns: repeat(2, 1fr); /* Only two columns on small screens */
    }
}

/* Media Query for Mobile Screens */
@media (max-width: 600px) {
    .nav-links {
        position: absolute; /* Makes the navbar fixed at the top */
        top: 10%;
        right: 0%;
        width: 100%; /* Ensures the navbar spans across the screen */
        background-color: white; /* Your light green color */
        z-index: 1000; /* Higher z-index ensures it appears above other content */
        padding: 20px 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adds a slight shadow */
        display: none;
        line-height: 30px;
    }
    .nav-links li a{
        color: #5C5F66;
        font-weight: 300;
        font-family: "Poppins",sans-serif;
    }
    .nav-links.active {
        display: block; 
    }

    .menu-btn {
        display: block;
    }
    .hero-text h2 {
        font-size: 25px;
        padding: 0 0;
    }
    .mytext {
        padding: 20px 5px;
       
    }
    .about {
        flex-direction:column;
        
    }
    .about p {
        font-size: 14px;
    }
    .benefits-container {
        flex-direction: column;
        align-items: center;
    }
    .benefit-card {
        width: 90%;
    }
    .container {
        flex-direction: column;
        text-align: center;
    }
    .progress-content {
        flex-direction: column;
        align-items: center;
    }

    .progress-container{
        max-width: 500px;
    }

    .text-section {
        text-align: center;
    }

    .steps-left {
        font-size: 1.2em;
    }

    .claim-button {
        font-size: 0.9em;
    }
    .eco-community h2.next{
        
        margin-bottom: 22px;
    }
    .input-container {
        margin: 9px 18px;
    }
    .input-container input {
        padding: 9px 9px;
        width: 50px;
    }
    .input-container button { 
        padding: 10px 10px;
    }
    .joininput{
        width: 290px;
        margin: 0 auto;
    }
    .joininput input{
        padding: 10px 10px;
        width: 100px;
        font-size: 13px;
    }
    .joininput button{
        padding: 10px 15px;
        cursor: pointer;
        font-size: 13px;
        
    }
    .footer-column {
        text-align: left;
    }

    .social-icons {
        gap: 10px;
    }
    .footer-columns {
        grid-template-columns: repeat(2, 1fr); /* Only two columns on small screens */
    }
    .footer-bottom {
        font-size: 12px;
        font-family: "Poppins", sans-serif;
    }
   
    
}
@media  (max-width: 630px){
    .search-container p{
        
        padding-top: 10px;
       
    }
}
    


@media (min-width: 1024px) {
    .eco-benefits-container {
        flex-direction: row;
        justify-content: space-around;
    }
    .eco-benefit {
        width: 30%;
        font-size: 1em;
    }
    .hero-text h2 {
        font-size: 2em;
    }
    .about p {
        font-size: 1.15em;
        width: 70%;
        
    }
    .about h2{
        font-size: 2em;
    }
    .about .play-video-btn{
        width: 35%;
        height: 50%;
        padding: 4em 4em 4em 4em;
        background-color:#29a644;
        border-radius: 10px;
        box-sizing: border-box;

    }   
    .about .play-video-btn .fa-youtube{
        font-size: 40px;
        
    }
    .about{
        flex-direction: row;
        justify-content: space-around
    }
    .about .about-container{
        width: 50%;
    }
    .image-section img {
        object-fit: cover;
    }

    .text-section {
        font-size: 1.2em;
        padding: 20px;
        
    }
    .text-section p{
        padding:10px;
    }
    .steps-left {
        font-size: 1.7em;
    }
    .progress {
        height: 100%;
        width: 20%;
        background: #39b54a;
        border-radius: 5px;
        padding: 30px;
    }
    .progress-container{
        background:none;
        box-shadow: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .progress-all{
        width: 100%;
    }
    .image-section{
        padding: 30px;
    }
    .image-section img{
        width: 300px;
    }
    .steps-done {
        margin-top: 5px;
        font-size: 0.9em;
        color: #5b4636;
    }
    .hero-text h2{
        font-size: 2.5em;
    }
    .hero-text p{
        font-size: 1.5em;
    }
    .benefit-card h3{
        font-size: 1.5em;
    }
    .benefit-card p{
        font-size: 1em;
    }
    .why-choose-us h2{
        font-size: 2em;
    }
    
   
    .package-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
